<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature android:name="android.software.connectionservice" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- For Android 8-12 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <!-- For Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <!-- Required for setting wallpaper -->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission
        android:name="android.permission.BIND_WALLPAPER"
        tools:ignore="ProtectedPermissions" />

    <!-- Required for setting call screen -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon_app_round"
        android:theme="@style/Theme.Ringtone"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        tools:targetApi="31"
        tools:ignore="ExtraText">
        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />

        <activity android:name=".screen.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".screen.home.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <!--                <action android:name="android.intent.action.MAIN" />-->
                <!--                <category android:name="android.intent.category.LAUNCHER" />-->

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tel" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".screen.intro.IntroActivityNew" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".screen.language.LanguageActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".screen.setting.SettingActivity" android:exported="false" android:screenOrientation="portrait"/>

        <!--using apis-->
        <activity android:name=".screen.welcome.WelcomeActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".screen.favourite.FavouriteActivity" android:exported="false" android:screenOrientation="portrait"/>

        <!--ringtone-->
        <activity android:name=".screen.ringtone.search.SearchRingtoneActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".screen.ringtone.RingtoneCategoryActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".screen.ringtone.FilteredRingtonesActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".screen.ringtone.player.RingtoneActivity" android:exported="false" android:screenOrientation="portrait"/>

        <!--wallpaper-->
        <activity
            android:name=".screen.wallpaper.search.SearchWallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".screen.wallpaper.PreviewWallpaperActivity" android:exported="false" android:screenOrientation="portrait"/>

        <activity android:name=".screen.wallpaper.AllWallpaperActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".screen.wallpaper.premium.PremiumWallpaperActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.wallpaper.player.SlideWallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.wallpaper.live.PreviewLiveWallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screen.wallpaper.live.LiveWallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".screen.wallpaper.crop.CropActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity
            android:name=".screen.wallpaper.favourite.FavouriteWallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!--  callscreen-->
        <activity
            android:name=".screen.callscreen.subscreen.edit.CallScreenEditorActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".screen.callscreen.subscreen.preview.PreviewCallScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".screen.callscreen.subscreen.alert.CallScreenAlertActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.callscreen.subscreen.type.AllTypeAlertActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.callscreen.CallScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <!-- Required to be recognized as a dialer -->
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <action android:name="android.intent.action.CALL" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>

            <!-- Optional but recommended -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.APP_DIALER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".screen.setting.PhoneSettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!--end of all screens-->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true" />

        <service
            android:name=".screen.wallpaper.service.SlideshowWallpaperService"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <service
            android:name=".screen.wallpaper.service.VideoWallpaperService"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <!-- InCallService to display your custom call UI -->
        <service
            android:name=".screen.callscreen.service.MyInCallService"
            android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>

            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
        </service>

        <!-- ConnectionService to manage call connections -->
        <service
            android:name=".screen.callscreen.service.MyConnectionService"
            android:exported="true"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <service
            android:name=".remote.service.MessageService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".screen.ringtone.service.RingtonePlayerService"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ForegroundServicePermission" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>